.preview-section{
    //preview-section__container
    &__container{
      display: flex;
      flex-direction: column;      

    }
    // preview-section__section-getting-to-know
    &__section-getting-to-know{

      display: flex;
      justify-content: flex-end;
      background-color: var(--bgc-fone);
      //preview-section__section-getting-to-know-controller
      &-controller{
        position: relative;
        min-width: 320px;
        margin-top: 15px;
        //preview-section__section-getting-to-know-controller-buttons
        &-buttons{
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 20px 10px;
          background-color: var(--text-color-red);
          font-size: 16px;
          letter-spacing: 5%;
          color: var(--text-color-white);
        }
      }
      //preview-section__section-getting-to-know-wrap
      &-wrap{
        position: relative;
        max-width: var(--g-max-width);
        margin: 0 auto;
        display: flex;
      }
      // preview-section__section-getting-to-know-text
      &-text{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        color: #ffffff;
        text-align: start;
        max-width: 420px;
        //preview-section__section-getting-to-know-text-title
        &-title{
          font-size: 60px;
          font-weight: bold;
          white-space: pre-wrap;
          &>span{
            font-size: 60px;
            color: var(--text-color-red);
            font-weight: bold;
            margin: 0 10px;
          }
          margin-bottom: 50px;
        }
        //preview-section__section-getting-to-know-text-subtitle
        &-subtitle{
          font-size: 18px;
        }
      }
      // preview-section__section-getting-to-know-image
      &-image{
        padding-left: var(--gutter-left);
        max-width: var(--g-max-width);
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        img{
          max-width: 80%;
        }
      }
    }

    // preview-section__section-about-us
    &__section-about-us{
      flex-basis: 50%;
      // preview-section__section-about-us__text
      &__text{
        padding: 20px;
        background-color: #666666;
        color: #ffffff;
        text-align: center;
      }
    }
}